@use "../../styles/partials/variables" as *;

.card {
  border-top: 1px solid $secondary-colour-2;
  padding: 0 1.6rem;

  &__delete-button {
    background: url("../../assets/Icons/delete_outline-24px.svg") no-repeat left
      50%;
    height: 50px;
    width: 100%;
    border: none;
  }

  &__edit-button {
    background: url("../../assets/Icons/edit-24px.svg") no-repeat right 50%;
    height: 50px;
    width: 100%;
    border: none;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.6rem;
  }
  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
    color: $secondary-colour-1;
  }

  &__name {
    text-decoration: none;
    color: $primary-colour-2;
    font-weight: 600;
    display: flex;
  }

  &__left,
  &__right {
    width: 45%;
  }
}
