@use "../partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.parent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.6rem;
  @include tablet {
    margin: 0 3.6rem;
  }
  @include desktop {
    width: 1020px;
    margin: 0 auto;
  }
}

.app-container {
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -8rem;
  width: 100%;
  box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
}

.split {
  margin-bottom: 1.6rem;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
