@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets";

.header {
  &__title {
    font-weight: 600;
    font-size: 2.8rem;
    margin-left: 2rem;
  }
}

.form {
  &__fields {
    padding: 1.6rem 2.4rem;
  }
  &__title {
    padding-bottom: 2.6rem;
  }

  &__label {
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0.4rem 0;
  }

  &__input {
    width: 29.5rem;
    height: 3.6rem;
    max-height: 3.6rem;
    width: 100%;
    border: 1px solid #bdc5d5;
    border-radius: 20px;
    padding: 0 1.6rem;
    margin-bottom: 2rem;
  }

  &__button {
    width: 14rem;
    height: 3.6rem;
    border-radius: 20px;
    border: none;
    background-color: $primary-colour-3;
    &--blue {
      background-color: $primary-colour-2;
      color: $primary-colour-3;
    }
  }
}
